/* review */
.review-area {
	position: relative;
	background-color: #f6f7ff;
	z-index: 2;
	overflow: hidden
}

.review-area .section-heading {
	margin: unset
}

.review-area .shape {
	position: absolute;
	top: -40px;
	left: 0;
	z-index: -2
}

.review-area .review-inner {
	/* display: grid; */
	grid-template-columns: auto 560px;
	gap: 220px
}

@media only screen and (max-width: 1199px) {
	.review-area .review-inner {
		gap: 20px
	}
}

@media only screen and (max-width: 991px) {
	.review-area .review-inner {
		grid-template-columns: 1fr;
		gap: 50px
	}
}

@media only screen and (max-width: 767px) {
	.review-area .review-inner {
		grid-template-columns: 1fr;
		gap: 30px
	}
}

.review-area .thumb-wrapper {
	padding-bottom: 22px
}

@media only screen and (max-width: 991px) {
	.review-area .thumb-wrapper {
		max-width: 150px;
		padding-bottom: 15px
	}
}

.review-area .symbol-wrapper {
	padding-top: 35px
}

@media only screen and (max-width: 991px) {
	.review-area .symbol-wrapper {
		max-width: 100px;
		padding-top: 20px
	}
}

@media only screen and (max-width: 991px) {
	.review-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px
	}
}

@media only screen and (max-width: 767px) {
	.review-list {
		grid-template-columns: 1fr
	}
}

.review-list-item {
	display: grid;
	grid-template-columns: auto 170px;
	gap: 35px;
	background-color: #e5f6f6;
	padding: 15px;
	border-radius: 30px;
	max-width: 560px;
	padding-bottom: 20px;
	position: relative
}

@media only screen and (max-width: 991px) {
	.review-list-item {
		grid-template-columns: 1fr;
		gap: 20px
	}
}

.review-list-item:not(:last-child) {
	margin-bottom: 30px
}

@media only screen and (max-width: 991px) {
	.review-list-item:not(:last-child) {
		margin-bottom: 0
	}
}

.review-list-item.r-1 {
	background-color: #e5f6f6
}

.review-list-item.r-2 {
	background-color: #e0efff
}

.review-list-item.r-2 {
	background-color: #fff7d0
}

.review-list-item .quote-icon {
	margin-left: -27px
}

.review-area .subtitle-wrapper {
    margin-bottom: 15px !important;
  }
  .review-area .section-title-wrapper {
    margin-bottom: 20px;
  }

@media only screen and (max-width: 991px) {
	.review-list-item .quote-icon {
		margin-left: 0;
		position: absolute;
		right: 15px;
		top: 15px
	}
}

.review-list-item .content {
	padding-left: 27px
}

@media only screen and (max-width: 991px) {
	.review-list-item .content {
		order: 2;
		padding-left: 0
	}
}

@media only screen and (max-width: 991px) {
	.review-list-item .thumb {
		order: 1
	}
}

@media only screen and (max-width: 767px) {
	.review-list-item .thumb {
		max-height: 150px
	}
}

.review-list-item .thumb img {
	border-radius: 20px
}

@media only screen and (max-width: 767px) {
	.review-list-item .thumb img {
		height: 100%
	}
}

.review-list-item .meta-info {
	display: flex;
	gap: 17px;
	align-items: center;
	padding-top: 24px;
	max-width: 150px
}

@media only screen and (max-width: 767px) {
	.review-list-item .meta-info {
		padding-top: 15px
	}
}

.review-list-item .meta-info .name {
	font-size: 16px
}

.review-list-item .text-wraper {
	padding-top: 30px
}

@media only screen and (max-width: 991px) {
	.review-list-item .text-wraper {
		padding-top: 0
	}
}




/* Brand area */

.brand-area {
	padding-top: 180px;
	padding-bottom: 100px;
}
@media only screen and (max-width: 1919px) {
	.brand-area {
		padding-top: 255px
	}
}

@media only screen and (max-width: 1399px) {
	.brand-area {
		padding-top: 180px
	}
}

@media only screen and (max-width: 991px) {
	.brand-area {
		padding-top: 80px
	}
}

@media only screen and (max-width: 767px) {
	.brand-area {
		padding-top: 60px
	}
}

.brand-area .text-wrapper {
	text-align: center;
	margin-bottom: 40px
}

.brand-area .brand-logos {
	text-align: center
}

.brand-area .logo img {
	max-width: 183px;
	filter: unset !important;
	opacity: unset !important;
}
.brand-area .logo img:hover {
	filter: unset !important;
	opacity: unset !important;
}

@media only screen and (max-width: 767px) {
	.brand-area .logo img {
		max-width: 100px
	}
}


/* Integration */

.integration-area {
	padding-top: 174px;
	position: relative;
	z-index: 1
}

@media only screen and (max-width: 1919px) {
	.integration-area {
		padding-top: 104px
	}
}

@media only screen and (max-width: 991px) {
	.integration-area {
		padding-top: 74px
	}
}

@media only screen and (max-width: 767px) {
	.integration-area {
		padding-top: 44px
	}
}

.integration-area .section-header {
	text-align: center
}

.integration-area .section-header .section-title {
	max-width: 800px;
	margin: 0 auto
}

.integration-area .section-header .text {
	max-width: 550px;
	margin: 0 auto
}

.integration-area .section-header .text-wrapper {
	margin-top: 33px
}

.integration-cards-wrapper {
	margin-top: 43px
}

.integration-cards-wrapper .nav-link {
	border: 1px solid var(--border);
	padding: 13px 24px;
	line-height: 1;
	font-size: 16px;
	font-weight: 700;
	color: var(--primary)
}

.integration-cards-wrapper .nav-link.active {
	background-color: var(--theme);
	border-color: rgba(0, 0, 0, 0);
	color: var(--white)
}

.integration-cards-wrapper .nav-pills {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 7px
}

.integration-cards {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	margin-top: 70px
}
.integration-card .thumb {
	position: relative;
}

@media only screen and (max-width: 1919px) {
	.integration-cards {
		margin-top: 50px
	}
}

.integration-card {
	padding: 30px ;
	border: 1px solid #ebedef;
	background-color: var(--white);
	border-radius: 20px;
	/* text-align: center; */
	transition: all .5s
}

@media only screen and (max-width: 1919px) {
	.integration-card {
		padding: 30px;
	}
}

.integration-card:hover {
	border-color: var(--theme)
}

.integration-card:hover .wc-btn-normal i {
	transform: translateX(5px)
}

.integration-card .thumb img {
	max-height: 40px;
    position:absolute;  right: 0;
}

@media only screen and (max-width: 991px) {
	.integration-card .thumb img {
		max-height: 40px;
       
	}
}

.integration-card .title {
	font-size: 18px;
	line-height: 1.25
}

.integration-card .title span {
	font-weight: 400;
	color: var(--secondary);
	display: block
}

.integration-card .content {
	margin-top: 0px
}

.integration-card .text {
	margin-top: 23px
}

.integration-card .wc-btn-normal {
	margin-top: 40px
}

.integration-card .wc-btn-normal i {
	transition: .3s
}

@media only screen and (max-width: 1919px) {
	.integration-card .wc-btn-normal {
		margin-top: 30px
	}

    .integration-card .thumb img {
		max-height: 40px;
       
	}
}

.integration-area-inner {
	position: relative
}

.integration-area-inner .shape-1 {
	position: absolute;
	inset-inline-end: calc(100% + 113px);
	bottom: 258px;
	width: -moz-max-content;
	width: max-content
}



.integration-area-inner .shape-2 {
	position: absolute;
	inset-inline-start: 100%;
	top: 170px;
	width: -moz-max-content;
	width: max-content
}


/* Choose area */

.choose-area {
	padding-top: 173px
}

@media only screen and (max-width: 1919px) {
	.choose-area {
		padding-top: 160px
	}
}

@media only screen and (max-width: 991px) {
	.choose-area {
		padding-top: 73px
	}
}

@media only screen and (max-width: 767px) {
	.choose-area {
		padding-top: 43px
	}
}

.choose-area .section-header {
	display: flex;
	gap: 20px 50px;
	justify-content: space-between
}

@media only screen and (max-width: 767px) {
	.choose-area .section-header {
		flex-direction: column
	}
}

.choose-area .section-header .meta {
	max-width: 520px;
	margin-top: 17px
}

.choose-area .section-header .btn-wrapper {
	margin-top: 37px
}

.choose-area .section-title {
	max-width: 606px
}

.choose-cards-wrapper {
	margin-top: 58px
}

@media only screen and (max-width: 1919px) {
	.choose-cards-wrapper {
		margin-top: 38px
	}
}

@media only screen and (max-width: 991px) {
	.choose-cards-wrapper {
		margin-top: 28px
	}
}

.choose-card-box {
	padding: 37px 50px 50px;
	background-color: var(--white);
	border-radius: 20px;
	border: 2px solid rgba(0, 0, 0, 0);
	transition: all .5s
}

@media only screen and (max-width: 1199px) {
	.choose-card-box {
		padding: 27px 30px 30px
	}
}

.choose-card-box:hover {
	background-color: rgba(0, 0, 0, 0);
	border-color: var(--secondary)
}

.choose-card-box .title {
	font-size: 30px;
	line-height: 1.16;
	color: var(--primary);
	max-width: 300px
}

@media only screen and (max-width: 1199px) {
	.choose-card-box .title {
		font-size: 26px
	}
}

.choose-card-box .text-wrapper {
	margin-top: 13px
}

.choose-card-box .thumb-wrapper {
	margin-top: 73px;
	text-align: end
}

@media only screen and (max-width: 1919px) {
	.choose-card-box .thumb-wrapper img {
		max-height: 150px
	}
}

.choose-cards {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))
}

.choose-cards>*:nth-child(1) .choose-card-box {
	background-color: #fee
}

.choose-cards>*:nth-child(1) .choose-card-box:hover {
	background-color: rgba(0, 0, 0, 0);
	border-color: #ff7070
}

.choose-cards>*:nth-child(2) .choose-card-box {
	background-color: #ecf7ff
}

.choose-cards>*:nth-child(2) .choose-card-box:hover {
	background-color: rgba(0, 0, 0, 0);
	border-color: #5cbbff
}

.choose-cards>*:nth-child(3) .choose-card-box {
	background-color: #e8fdf3
}

.choose-cards>*:nth-child(3) .choose-card-box:hover {
	background-color: rgba(0, 0, 0, 0);
	border-color: #52d0a3
}

/* Highly Rated */
.rating-area {
	padding-top: 173px;
	background-color: #fdf9f4
}

@media only screen and (max-width: 1919px) {
	.rating-area {
		padding-top: 103px
	}
}

@media only screen and (max-width: 991px) {
	.rating-area {
		padding-top: 73px
	}
}

@media only screen and (max-width: 767px) {
	.rating-area {
		padding-top: 43px
	}
}

.rating-area .section-header {
	text-align: center
}

.rating-area .section-header .section-title {
	max-width: 650px;
	margin: 0 auto
}

.rating-area .section-header .text {
	max-width: 540px;
	margin: 0 auto
}

.rating-area .section-header .text-wrapper {
	margin-top: 28px
}

.rating-area .ratings-wrapper-box {
	margin-top: 63px
}

@media only screen and (max-width: 1919px) {
	.rating-area .ratings-wrapper-box {
		margin-top: 43px
	}
}

@media only screen and (max-width: 991px) {
	.rating-area .ratings-wrapper-box {
		margin-top: 33px
	}
}

.rating-area .ratings-wrapper {
	display: flex;
	justify-content: center
}

.rating-area .ratings-wrapper>*:not(:first-child) {
	padding-inline-start: 40px;
	border-inline-start: 1px solid #e5e8ec;
	margin-inline-start: 40px
}


/* Perfomance Section */
.performance-area {
	padding-bottom: 123px
}

@media only screen and (max-width: 1919px) {
	.performance-area {
		padding-bottom: 93px
	}
}

@media only screen and (max-width: 991px) {
	.performance-area {
		padding-bottom: 73px
	}
}

@media only screen and (max-width: 767px) {
	.performance-area {
		padding-bottom: 53px
	}
}

.performance-area .section-content {
	max-width: 350px
}

.performance-area .section-content .text-wrapper {
	margin-top: 29px
}

.performance-area .section-content .title-wrapper {
	margin-top: 17px
}

.performance-area .section-content .btn-wrapper {
	margin-top: 43px
}

.performance-area-inner {
	display: flex;
	gap: 40px 60px;
	justify-content: space-between
}

@media only screen and (max-width: 991px) {
	.performance-area-inner {
		flex-direction: column
	}
}

.performance-features-wrapper {
	display: grid;
	gap: 70px 0;
	grid-template-columns: 1fr 1fr;
	margin: 0 -50px
}

@media(max-width: 575px) {
	.performance-features-wrapper {
		grid-template-columns: 1fr;
		gap: 50px 0
	}
}

.performance-features-wrapper .feature-box {
	padding: 0 50px;
	/* border-inline-start: 1px solid #ebedef; */
	border-radius: 0 !important;
	border: 0;
	border-inline-start: 1px solid var(--border) !important;
	/* border-block-start: 1px solid #ccc !important; */
}

.performance-features-wrapper .feature-box .thumb img {
	max-height: 85px
}

@media only screen and (max-width: 1199px) {
	.performance-features-wrapper .feature-box .thumb img {
		max-height: 65px
	}
}

.performance-features-wrapper .feature-box .title {
	font-size: 24px;
	line-height: 1.25
}

@media only screen and (max-width: 991px) {
	.performance-features-wrapper .feature-box .title {
		font-size: 20px
	}
}

.performance-features-wrapper .feature-box .content {
	margin-top: 38px
}

.performance-features-wrapper .feature-box .text {
	margin-top: 19px
}

.performance-features-wrapper-box {
	max-width: 700px;
	overflow: hidden
}


/* Layout */
.header__logo img {	width: 200px;}
.wc-btn-primary {	border-radius: 4px;}
.header-area.sticky .header-area__inner {	height: 75px !important;}
.footer-area.style-1 .footer-widget-wrapper .title {font-size: 18px;}
.performance-features-wrapper .feature-box .title {	font-size: 20px;}
.integration-card .title span {	font-weight: 600;	color: #7c7c7c;	font-size: 16px;	font-family: var(--font_primary);}
.header-area.sticky { box-shadow: 0 2px 7px #f3f3f3 !important; }
.integration-card .text {	font-size: 16px;}
.integration-card .wc-btn-normal {
	margin-top: 20px;
	padding: 10px 15px;
	border: 1px solid var(--border);
}
.choose-card-box .title {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -1px;
}
.performance-features-wrapper .feature-box {
	text-align: left;
}
.header-area.sticky .main-menu > ul > li:hover > a {	color: var(--theme);}
.main-menu ul.dp-menu {	box-shadow: 0 11px 10px 0 rgba(65,67,132,0.13);}

.integration-area.section-spacing {
	display: none;
}
.feature-box{ text-align: left; }
.hero-area .section-header .shape-1 {
	inset-inline-start: 88%;
	bottom: calc(100% - 187px);
}
.hero-area .section-header .shape-1.orange {
	inset-inline-start: 0%;
	width: 140px;
	bottom: calc(100% - 301px);
	transform: rotate(0deg) !important;
}
.subtitle-img {
	position: absolute;
	top: -42px;
	left: -25px;
	width: 40px;
}
.performance-area .section-subtitle {
	background: #f1c8ae42;
	padding: 5px 15px;
	border-radius: 5px;
}


.count-wrapper {
	display: flex;
	gap: 22px;
	padding-block: 15px;
	border-block: 1px dashed #ccc;
	margin-block: 15px -3px;
  }
  .count-wrapper .count .count-title {
	font-size: 20px;
	font-family: var(--font_primary) !important;
	margin-bottom: 4px;
  }
  .count-wrapper .count .count-defination {
	font-size: 14px;
	font-family: var(--font_primary) !important;
	font-weight: 500 !important;
  }

  /* CTA area */
.section-spacing-bottom {
	padding-bottom: 180px;
}


.cta-area .section-heading {
	max-width:500px;
	margin:auto;
	position:relative;
	z-index:2
  }
  .cta-area .title-wrapper {
	margin-bottom:30px
  }
  @media only screen and (max-width: 991px) {
	.cta-area .title-wrapper {
	  margin-bottom:15px
	}
  }
  .cta-area .text-wrapper {
	padding-bottom:43px
  }
  @media only screen and (max-width: 991px) {
	.cta-area .text-wrapper {
	  padding-bottom:28px
	}
  }
  .cta-area .text {
	color:var(--primary)
  }
  .cta-area .btn-wrap {
	display:flex;
	gap:20px;
	justify-content:center
  }
  @media only screen and (max-width: 767px) {
	.cta-area .btn-wrap {
	  flex-wrap:wrap
	}
  }
  .cta-area .shape-1 {
	position:absolute;
	left:0
  }
  .cta-area .shape-2 {
	position:absolute;
	right:40px;
	top:200px
  }
  .cta-area-wrapper {
	padding-top:120px;
	padding-bottom:120px;
	background-color:#fbf7f5;
	display:flex;
	justify-content:center;
	text-align:center;
	align-items:center;
	border-radius:20px;
	position:relative;
	overflow:hidden
  }
  @media only screen and (max-width: 991px) {
	.cta-area-wrapper {
	  padding-bottom:70px;
	  padding-top:70px
	}
  }
  @media only screen and (max-width: 767px) {
	.cta-area-wrapper {
	  padding:50px 15px
	}
  }
  .hero-area .section-header .title-wrapper {
	margin-top: 22px;
}
/* Pricing */

  .pricing-area .pricing-box.basic .title {
	color: #fff;
	background-color: #2ab57e;
}
.pricing-area .pricing-box.premium .title {
	color: #fff;
	background-color: #ec1873;
}
.pricing-area .pricing-box.enterprise .title {
	color: #fff;
	background-color: #0779be;
}
.pricing-box .price sup {
	font-size: 20px;
}
.variation-2 .pricing-box.popular .title {
	background: #f37e4a;
	color: #fff !important;
}

.pricing-box .title {
	border-radius: 4px !important;

}
.variation-2 .pricing-area .section-header .section-title {
	font-size: 41px;
}
.variation-2 .pricing-box:last-child {
	border-right: 1px solid #ff845d !important;
}
.variation-2 .pricing-box.popular {
	border-color: #ff845d;
	box-shadow: -5px 16px 35px #e8d799;
}
.variation-2 .pricing-box{ border-radius: 0 !important;  border-right: 0 !important;}
.variation-2 .pricing-area .pricing-wrapper{ gap: 0 !important; }
.variation-2 .pricing-box .feature-list li.disallow {
	text-decoration: line-through;
	text-decoration-color: red;
}
.pricing-area.section-spacing {
	padding-bottom: 0 !important;
}
.Pricing.cta-area {
	background: #fbf7f5;
}

.Pricing.faq-area {
	background-color: #f7faf9;
	padding-block: 150px;
}
.pricing-box .feature-list {
	border-top: 0 !important;
	margin-top: 0 !important;
}
.variation-2 .pricing-box .description {
	font-size: 16px;
	margin-top: 18px;
	line-height: 18px;
}
.Pricing.brand-area {
	padding-block: 120px;
}


/* modal content */

#signupform.modal ,  
#staticBackdrop.modal {
	background: #fff !important;
  }
  #signupform .modal-dialog, #staticBackdrop .modal-dialog {
	max-width: 100% !important;
	background: linear-gradient(180deg, #FBF7F4 0%, rgba(251, 247, 244, 0) 100%);
	margin-block: 0;
	height: 100vh;
}
#signupform .shape-1 ,
#staticBackdrop .shape-1 {
	position: absolute;
  
  }
  #signupform .testimonial-area, #signupform .register-form-box, #staticBackdrop .testimonial-area, #staticBackdrop .register-form-box {
	background: transparent;
	padding: 0;
}
#signupform .testimonial-content .text-wrapper,
#staticBackdrop .testimonial-content .text-wrapper {
	margin-top: 18px;
}
#signupform .testimonial-area .section-header, #signupform .testimonial-content ,
#staticBackdrop .testimonial-area .section-header, #staticBackdrop .testimonial-content{
	text-align: left;
}
#signupform .testimonial-content .text,
#staticBackdrop .testimonial-content .text {
	font-size: 18px;
	line-height: 28px;
	max-width: 70%;
}
#signupform .testimonial-area .nav-wrapper,
#staticBackdrop .testimonial-area .nav-wrapper {
	justify-content: start;
}
#signupform .testimonial-area .testimonial-wrapper,
#staticBackdrop .testimonial-area .testimonial-wrapper {
	margin-top: 31px;
}
#signupform .normal-logo,
#staticBackdrop .normal-logo {
	width: 27%;
	margin-bottom: 12px;
}
#signupform .register-form-box .input-field input,
#staticBackdrop .login-form-box .input-field input {
	height: 50px !important;
	border-radius: 0 !important;
}
#signupform .register-form-box .input-field:not(:first-child),
#staticBackdrop .register-form-box .input-field:not(:first-child) {
	margin-top: 7px;
}
#signupform .input-field.mandatory::before ,
#staticBackdrop .input-field.mandatory::before{
	content: "*";
	position: absolute;
	left: 10px;
	top: 19px;
	color: red;
}
#signupform .input-field.mandatory,
#staticBackdrop .input-field.mandatory {
	position: relative;
}
#staticBackdrop .testimonial-area.section-spacing {
	padding-block: 0;
}

#staticBackdrop .testimonial-area.section-spacing {
	padding-block: 0;
  }
  #staticBackdrop .modal-dialog {
	height: 100%;
  }

/* search-template */
.modal-backdrop.fade.show {
	background: transparent;
}

#search-template {
	background: #0b0d1f;
	height: auto;
	margin-top: 90px;
}
#search-template .modal-dialog {
	margin-block: 15px;
}
#search-template .form-search {
	border: 1px solid #7b7b7b;
	border-radius: 10px;
}

.footer-area.style-1 {
	background-color: #0b0d1f !important; 
}
.header-search, .header-notifications {
	padding: 7px;
	border-left: 1px solid #cccccc69;
	cursor: pointer;
}
.header-search{ border: 0 !important; }
.patented{width: 18% !important; }
.cursor1{ display: none !important; }
.main-menu li a.active {
	color: #ec1873;
	font-weight: bold !important;
}
.register-form-box .btn-wrapper {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 9;
	border-color: red !important;
}

/* swiper  */
.testimonial-wrapper {
    transition: opacity 0.5s ease-in-out;
  }
  .testimonial-button-next, .testimonial-button-prev{
	cursor: pointer;
  }

  .carousel-control-prev, .carousel-control-next{
	width: 10%!important;
  }
  textarea#comments {
   
	border: none;
    outline: none;
    height: 25px;
	margin-left: 18px;
	top: 5px;
	width: -webkit-fill-available;
	min-height: 20px;
}
.text_area{
	width: 100%;
    margin-top: 7px;
    border: 1px solid var(--border);
    outline: none;
    padding: 12PX;
	background-color: var(--white);
}


.has_fade_anim {
	opacity: 1;  /* Start with the element hidden */
	transform: translateY(40px);  /* Start with the element below its final position */
	transition: opacity 0.6s ease-in-out, transform 1s ease-in-out;  /* Apply both opacity and transform transitions */
  }
  
  .has_fade_anim1 {
    opacity: 1;
    transform: translateY(23px);
    transition: opacity .6s ease-in-out,transform 1s ease-in-out;
}
.has_fade_anim1.visible {
	opacity: 1;  /* Fade in the element */
	transform: translateY(0);  /* Move the element to its final position */
}
  .has_fade_anim.visible {
	opacity: 1;  /* Fade in the element */
	transform: translateY(0);  /* Move the element to its final position */
  }
  
  /* Optionally, you can also add a delay for the transition to appear after a specified time */
  .has_fade_anim[data-delay] {
	transition-delay: var(--delay); /* Delay the transition based on the custom attribute */
  }
  .header-area {
	position: relative; /* Default position */
	top: -50px; /* Initially position it slightly above */
	transition: top 0.3s ease-in-out; /* Smooth transition for the sticky effect */
  }
  
  .header-area.sticky {
	position: fixed; /* Make header fixed when sticky */
	top: 0; /* When sticky, set to the top */
	left: 0;
	right: 0;
	background-color: #fff; /* Optional: Set a background color */
	z-index: 1000; /* Ensures the header stays on top */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
  }
  
  .header-area__inner {
	padding: 15px 0; /* Add padding to ensure the content isn't too close to the top */
  }
  